<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Junior.Common.Net35" version="4.0.0" targetFramework="net451" />
  <package id="Junior.Common.Net40" version="4.0.0" targetFramework="net451" />
  <package id="Junior.Common.Net45" version="4.0.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
</packages>